.spacem {

	background: #666666;
}
.spacem ul li h2 a{
	position: relative;
	padding: 0px 25px ;
	font-family: Lucida ;
	text-decoration: none;
	color: black;
	list-style:none;

}

.spacem ul li h2 a:hover{
	background-color: black;
	color: red;
	border-radius: 4rem;

}

.pad{
	  padding-top:5rem;
	  padding-right: 5rem;
	  padding-left: 5rem;
}

.align{
	text-align: center;
	color: red;
	font-family: Lucida ;
}

.clr{
	background-color: #ababab;
}

.tbl{
	  padding-top: 2rem;
	  padding-right: 2rem;
	  padding-left: 2rem;
	  padding-bottom: 2rem;
	  font-family: Lucida ;
}

h2.app{
font-family: Lucida ;
}

img.floatLeft{
	float:left;
	padding: 0rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

img.floatRight{
	float:right;
	padding: 0rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.logo{
	display: inline-flex;
	position: relative;
	background:transparent;

}