.spacem {

	background: #666666;

}
.spacem ul li h2 a{
	position: relative;
	padding: 0.1rem 2rem ;
	font-family: Lucida ;
	text-decoration: none;
	color: black;
	list-style:none;

}

.spacem ul li h2 a:hover{
	background-color: black;
	color: red;
	border-radius: 4rem;

}
.logo{
	float:left;
	padding: 0rem 0rem;
}

.all{
	background-color: white;

    
}

ul.distance{
	padding-left:35rem;
}

