.spacem {

	background: red;
}
.spacem ul li h2{
<<<<<<< HEAD
	position: relative;
	padding: 0rem 25rem ;
=======
	padding: 0px 25px;
>>>>>>> 088bb53fe9e62de2e340827daa6e31db7cb9e5f7
	font-style: italic;
	color: white;
}